# Important Requirements here.

https://github.com/New-dev0/Telethon/archive/platy.zip
python-decouple
python-dotenv
redis
hiredis
async-timeout>=4.0.2
speedtest-cli
pillow==9.3
pytgcalls==3.0.0.dev24
